html,
body {
    margin: 0;
    padding: 0;
}

#game {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: scale(1.5)
}

.pad {
    padding: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

button {
    margin: 4px;
    width: 6em;
}

.clicked-wait {
    transition-duration: 0.8s;
    border-radius: 4px;
    border: 2px solid gray;
    /* Green */
}

.clicked-good {
    transition-duration: 0.8s;
    border-radius: 4px;
    border: 2px solid green;
    /* Green */
}

.clicked-bad {
    transition-duration: 0.8s;
    border-radius: 4px;
    border: 2px solid brown;
    /* Green */
}